node_modules

.git
.github
.gitignore
.vscode
.editorconfig
.prettier*
vitest.config.ts
eslint*

dist
coverage
generated

*.log
.DS_Store
.env
.env.*
*.tar
**/*.test.ts

README.md
LICENSE
*.md

Dockerfile
docker-compose*.yml
.dockerignore